* {
  text-align: center;
  font-size: 15px;
  font-family: "Outfit", sans-serif;
  font-style: normal;
}

body {
  background-color: 200 15% 55%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

p {
padding: 0% 10%;
}

h1 {
font-size: 25px;
text-transform: uppercase;
}

.card {
  width: 30%;
  height: 30%;
  background-color: lightblue;
  align-content: center;
  border-radius: 5%;
}

img {
  margin-top: 10%;
  width: 70%;
  height: auto;
  border-radius: 5%;
}
