* {
    text-align: center;
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    font-style: normal;
}

body {
    background-color: 200 15% 55%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

p {
  margin: 0px 0px;
  padding: 0px 50px;
}

h1 {
  font-size: 30px;
  text-transform: uppercase;
}

.card {
    margin-top: 50px;
    width: 400px;
    height: 500px;
    background-color: lightblue;
    align-content: center;
    border-radius: 5%;
}

img {
    margin-top: 30px;
    width: 60%;
    height: auto;
    border-radius: 5%;
}
