@media (max-width: 768px) {
  .card {
    height: auto;
    padding: 3%;
  }

* {
  text-align: center;
  font-size: small;
  font-family: "Outfit", sans-serif;
  font-style: normal;
}

body {
  background-color: rgba(184, 199, 244, 0.978);
  color: black;
  display: flex;
  justify-content: center;
  align-content: center;
}

h1 {
font-size: x-large;
text-transform: uppercase;
}

.card {
  width: 55em;
  height: 90em;
  padding: 1%;
  background-color: white;
  align-content: center;
  border-radius: 5%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.165);
}

img {
  width: 95%;
  height: auto;
  border-radius: 5%;
}
